# Assignment 20

#### Submitted By : Paritosh Nichat

#### Date : July 21, 2021

1 . Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.Examples

filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []

In [3]:
def filter_list(value_list):
    output_list = []
    for i in value_list:
        if type(i) == int:
            output_list.append(i)
    
    return output_list

print(filter_list([1, 2, 3, "a", "b", 4]))
print(filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]))
print(filter_list(["Nothing", "here"]))

[1, 2, 3, 4]
[0, 1729]
[]

2 . Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc... Examples

add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [2]:
def add_indexes(value_list):
    output_list = []
    for i in range(0, len(value_list)):
        output_list.insert(i, i+int(value_list[i]))
    
    return output_list

try:
    input_list = input("Please input the list of integers(comma-separated) : ")
    input_list = input_list.split(",")
    print("Result : ",add_indexes(input_list))
except:
    print("Error occured, please try again")

Please input the list of integers(comma-separated) : 1,2,3,4,5
Result :  [1, 3, 5, 7, 9]

3 . Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.Examples

cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

In [1]:
import math

def cone_volume(value_h,value_r):
    output_volume = (math.pi*(value_r**2)*(value_h/3))
    return round(output_volume,2)

try:
    input_h = float(input("Please provide the input height : "))
    input_r = float(input("Please provide the input radius : "))
    print("Result : ",cone_volume(input_h, input_r))
except:
    print("Error occured, please check the input once and try again")

Please provide the input height : 15
Please provide the input radius : 6
Result :  565.49

4 . This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 

1, 3, 6, 10, 15

This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.

Write a function that gives the number of dots with its corresponding triangle number of the sequence.Examples

triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

In [4]:
def triangle(value_n):
    """Formula for triangle sequence - ((n)(n+1))/2"""
    output_dots = (((value_n)*(value_n+1))/2)
    return round(output_dots)

try:
    input_n = int(input("Please input the triangle number : "))
    print("Dots : ",triangle(input_n))
except:
    print("Error occured, please try again.")

Please input the triangle number : 215
Dots :  23220

5 . Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number. Examples

missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [5]:
def missing_num(value_list):
    numbers_list = [str(i) for i in range(0,11)]
    missing = -1
    for i in numbers_list:
        if i not in value_list:
            missing = i
    
    return missing

try:
    input_list = input("Please provide input of numbers between 1-10(comma-separated) :")
    input_list = input_list.split(",")
    print("Result : ",missing_num(input_list))
except:
    print("Error occured, please try again")

Please provide input of numbers between 1-10(comma-separated) :10,5,1,2,4,6,8,3,9
Result :  7