# Assignment 23

#### Submitted By : Paritosh Nichat

#### Date :  July 21, 2021

1 . Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(value_num):
    value_list = list(str(value_num))
    copy_value_list = list(str(value_num))
    copy_value_list.reverse()
    if value_list == copy_value_list:
        return True
    else:
        return False

try:
    input_num = int(input("Please provide the input num : "))
    print("Result : ",is_symmetrical(input_num))
except:
    print("Error occured, please try again")

Please provide the input num : 1112111
Result :  True

2 . Given a string of numbers separated by a comma and space, return the product of the numbers.Examples

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [2]:
def multiply_nums(value_str):
    value_list = value_str.split(", ")
    output = 1
    for i in value_list:
        output = output*int(i)

    return int(output)

try:
    input_str = input("Please provide input numbers separated by a comma and space : ")
    print("Result : ",multiply_nums(input_str))
except:
    print("Error occured, please try again")

Please provide input numbers separated by a comma and space : 10, -2
Result :  -20

3 . Create a function that squares every digit of a number. Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [3]:
def square_digits(value_num):
    value_list = list(str(value_num))
    output_num = ''
    for i in value_list:
        output_num += str(int(i)**2)
    
    output_num = int(output_num)
    return output_num

try:
    input_num = int(input("Please provide the input number : "))
    print("Result : ",square_digits(input_num))
except:
    print("Error occured, please try again")

Please provide the input number : 3212
Result :  9414

4 . Create a function that sorts a list and removes all duplicate items from it.Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [6]:
def setify(value_list):
    value_dict = {}
    for i in value_list:
        if i in value_dict:
            value_dict[i] += 1
        else:
            value_dict[i] = 1
    
    output_list = list(value_dict.keys())
    output_list = [int(i) for i in output_list]
    output_list.sort()
    return output_list

try:
    input_list = input("Please provide the numbers input list(comma-separated) : ")
    input_list = input_list.split(",")
    print("Result : ",setify(input_list))
except:
    print("Error occured, please try again")

Please provide the numbers input list(comma-separated) : 3,3,3,2,1
Result :  [1, 2, 3]

5 . Create a function that returns the mean of all digits.Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

The mean will always be an integer.

In [7]:
def mean(value_num):
    value_list = list(str(value_num))
    output_mean = 0
    for i in value_list:
        output_mean += int(i)
    
    output_mean = int(int(output_mean)/len(value_list))
    return output_mean

try:
    input_num = int(input("Please provide the input number : "))
    print("Result : ",mean(input_num))
except:
    print("Error occured, please try again")

Please provide the input number : 12345
Result :  3