# Assignment 1

#### Submitted By : Paritosh Nichat
#### Date : March 13th 2021

1 . What are the differences between operators and values in the following?

*

'hello'

-87.8

-

/

+

6

In [4]:
#Solution :

'''
* - operator

'hello' - value

-87.8 - value

- - operator

/ - operator

+ - operator

6 - value
'''

"\n* - operator\n\n'hello' - value\n\n-87.8 - value\n\n- - operator\n\n/ - operator\n\n+ - operator\n\n6 - value\n"

2 . What is the difference between string and variable?

spam

'spam'

#### Solution :

spam - Variable which can store any type of data like numbers , strings , floats and boolean etc.

'spam' - String value

3 . Describe three different data forms.

#### Solution :

1. str - "str" is the built in string class of python. String literals can be enclosed by single or double quotes.

2. int â€“ Signed integers. Can hold both positive and negative value.

3. bool - Booleans data type can have two values: True or False. Example -> a, b = True , False

4 . What makes up an expression? What are the functions of all expressions?

#### Solution :

An expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated. The evaluation of an expression produces a value.

All expressions have operators. Operators are special tokens that represent computations like addition, multiplication and division. The values the operator works on are called operands.
Example of operator in Python are :  + , - , % , * , = , etc.

5 . In this chapter, assignment statements such as spam = 10 were added. What's the difference between a declaration and an expression?

#### Solution :

Declaration of a variable means binding it to a data type.A variable is created the moment you first assign a value to it.
Hence a variable is declared.In example , spam = 10 , value 10 was assigned to a variable spam.

A Python expression can be defined as any element in our program that evaluates to some value.
Example -> result = spam + 5 , which will evaluate value of result as 15, the spam variable which has value 10 assigned will be added to 5.

6 . After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

#### Solution :

22

In [5]:
bacon = 22
bacon + 1

23

In [6]:
bacon

22

7 . What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

#### Solution :

1. spamspamspam

2. spamspamspam

In [7]:
'spam' + 'spamspam'

'spamspamspam'

In [8]:
'spam' * 3

'spamspamspam'

8 . Why is it that eggs is a true variable name but 100 is not?

#### Solution :

A variable name must start with a letter or the underscore character.
A variable name cannot start with a number. Hence eggs is a true variable name but 100 is not.

9 . Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string?

#### Solution :

1 . int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

2 . float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

3 . str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

10 . What is the error caused by this expression? What would you do about it?

'I have eaten ' + 99 + ' burritos.'

#### Solution :

Error caused by this expression is : - TypeError: can only concatenate str (not "int") to str

Fix for this error :- 'I have eaten ' + str(99) + ' burritos.'