# Assignment 16

#### Submitted By : Paritosh Nichat

#### Date : July 29, 2021

1 . Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
years_list = []
birth_year = 1996
for i in range(birth_year,birth_year+6):
    years_list.append(i)

print(years_list)

[1996, 1997, 1998, 1999, 2000, 2001]

2 . In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [2]:
print("Third Birthday : ",years_list[3])

Third Birthday :  1999

3 . In the years list, which year were you the oldest?

In [3]:
print(years_list[-1])

2001

4 . Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [1]:
things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

5 . Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [ ]:
# Only using the captitalize method does not make any change in the list.
things[1].capitalize()
print(things)

# You have to assign the element capitalized back to the list element to make change in the list.
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'cinderella', 'salmonella']
['mozzarella', 'Cinderella', 'salmonella']

6 . Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [ ]:
surprise = ['Groucho', 'Chico', 'Harpo']
print(surprise)

['Groucho', 'Chico', 'Harpo']

7 . Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [ ]:
surprise[-1] = surprise[-1].lower()
surprise[-1] = surprise[-1][::-1]
surprise[-1].upper()

'OPRAH'

8 . Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [2]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9 . Write the French word for walrus in your three-word dictionary e2f.

In [ ]:
e2f['walrus']

'morse'

10 . Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [ ]:
f2e = {}
for i in e2f.items():
    f2e[i[1]] = i[0]

print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11 . Print the English version of the French word chien using f2e.

In [ ]:
print(f2e['chien'])

dog

12 . Make and print a set of English words from the keys in e2f.

In [ ]:
print(set(e2f.keys()))

{'walrus', 'cat', 'dog'}

13 . Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [ ]:
life = {
    'animals': {
    'cats': [
        'Henri', 
        'Grumpy', 
        'Lucy'
    ],
    'octopi': {},
    'emus': {}
    },
    'plants': {},
    'other': {}
}

14 . Print the top-level keys of life.

In [ ]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

15 . Print the keys for life['animals'].

In [ ]:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

16 . Print the values for life['animals']['cats']

In [ ]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']