In [10]:
c = 'class for full stack data science , that"s why i joined this class'

In [11]:
c

'class for full stack data science , that"s why i joined this class'

In [12]:
c[0]

'c'

In [13]:
c[-1]

's'

In [14]:
c[100]

IndexError: string index out of range

In [15]:
c[4:10]

's for '

In [16]:
c[4:10:1]

's for '

In [17]:
c[-1:-10:1]

''

In [18]:
c[-1:-10:-1]

'ssalc sih'

In [19]:
for i in c:
    print(i)

c
l
a
s
s

f
o
r

f
u
l
l

s
t
a
c
k

d
a
t
a

s
c
i
e
n
c
e

,

t
h
a
t
"
s

w
h
y

i

j
o
i
n
e
d

t
h
i
s

c
l
a
s
s

In [20]:
c[::-1]

'ssalc siht denioj i yhw s"taht , ecneics atad kcats lluf rof ssalc'

In [21]:
for i in range(len(c)-1,0,-1):
    print(c[i])

s
s
a
l
c

s
i
h
t

d
e
n
i
o
j

i

y
h
w

s
"
t
a
h
t

,

e
c
n
e
i
c
s

a
t
a
d

k
c
a
t
s

l
l
u
f

r
o
f

s
s
a
l

In [22]:
c[0] = 'd'

TypeError: 'str' object does not support item assignment

In [23]:
list1 = ['sdfs',234,345,0.45,True]

In [24]:
list1[0] = "paritosh"

In [25]:
list1

['paritosh', 234, 345, 0.45, True]

### String is Immutable, Any item within a String cannot be changed.

### List is Mutable, Any item of List can be changed

In [26]:
"paritosh" + "nichat"

'paritoshnichat'

In [27]:
"paritosh" + str(3)

'paritosh3'

In [28]:
"paritosh" + [1,2,3]

TypeError: can only concatenate str (not "list") to str

In [29]:
c = "my name is"

In [30]:
c.find("m")

0

In [31]:
c.find("dfg")

-1

In [32]:
c.find("name")

3

In [33]:
c.index("name")

3

In [34]:
searchString = "name"
startIndex = c.find("name")
length = len(searchString)
for i in range(len("name")):
    print(startIndex+i)

3
4
5
6

In [35]:
c.count("m")

2

In [36]:
c.split()

['my', 'name', 'is']

In [37]:
c1 = "my Name , is"

In [38]:
c1.split(",")

['my Name ', ' is']

In [39]:
type(c1.split(","))

list

In [40]:
c1.upper()

'MY NAME , IS'

In [41]:
c1.lower()

'my name , is'

In [42]:
c1.swapcase()

'MY nAME , IS'

In [43]:
c1.title()

'My Name , Is'

In [44]:
"1".join(c1)

'm1y1 1N1a1m1e1 1,1 1i1s'

In [45]:
a = list(reversed(c1))

In [46]:
c1

'my Name , is'

In [47]:
a

['s', 'i', ' ', ',', ' ', 'e', 'm', 'a', 'N', ' ', 'y', 'm']

In [48]:
d  = " my N ame is "

In [49]:
d

' my N ame is '

In [50]:
d.strip()

'my N ame is'

In [51]:
d.lstrip()

'my N ame is '

In [52]:
d.rstrip()

' my N ame is'

In [53]:
s = "greetings from planet earth"

In [54]:
s.replace("g","s")

'sreetinss from planet earth'

In [55]:
s

'greetings from planet earth'

In [56]:
s.center(50,'@')

'@@@@@@@@@@@greetings from planet earth@@@@@@@@@@@@'

In [57]:
s = "pari\tosh"

In [58]:
s

'pari\tosh'

In [59]:
s.expandtabs()

'pari    osh'

In [73]:
a = "We all are a part of Full Stack"
a = a.lower()
print(a)
print(a.count("a"))
for i in range(len(a)):
    if(a[i] == "a"):
#         print(a[i])
        print(i)
a.replace("a","iNeuron")
l1 = a.split()
print(l1)
b=""
b.join(l1)

we all are a part of full stack
5
3
7
11
14
28
['we', 'all', 'are', 'a', 'part', 'of', 'full', 'stack']

'weallareapartoffullstack'

In [74]:
text = "MY NAME IS"

In [75]:
text.isupper()

True

In [77]:
text1 = "my name is"

In [78]:
text1.islower()

True

In [83]:
number = "123"

In [84]:
number.isdigit()

True

In [85]:
mixed = "p123"

In [86]:
mixed.isalnum()

True

In [87]:
bookTitle = "Book"

In [88]:
bookTitle.istitle()

True

In [92]:
for i in range(1, len(bookTitle)):
    print(bookTitle[-i])

k
o
o

In [93]:
name = "ineuron"
vowels = "AaEeIiOoUu"

for i in name:
    if(i in vowels):
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

i is a vowel
n is not a vowel
e is a vowel
u is a vowel
r is not a vowel
o is a vowel
n is not a vowel

In [94]:
"my name is {}".format("paritosh")

'my name is paritosh'

In [95]:
"i {} eat {}".format("will","icecream")

'i will eat icecream'

In [97]:
"i {} eat {}".format("plan to","burger")

'i plan to eat burger'

In [100]:
# Palindrome
a = "xyx"
b = 2002
c = "eye"
d = "madam"

In [107]:
s = input("Enter a data to check palindrome : ")
s = s.strip()
if s[::1] == s[::-1]:
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a data to check palindrome : paritosh
Not a Palindrome

In [109]:
l1 = ["abc", 1 , 2, 3.14]

In [110]:
 l1

['abc', 1, 2, 3.14]

In [111]:
l1[0:3]

['abc', 1, 2]

In [112]:
l1[0:3:-1]

[]

In [113]:
l1[3:0:-1]

[3.14, 2, 1]

In [114]:
l1[::-1]

[3.14, 2, 1, 'abc']

In [115]:
l1[::1]

['abc', 1, 2, 3.14]

In [116]:
l1 + bookTitle

TypeError: can only concatenate list (not "str") to list

In [117]:
l1 + list(bookTitle)

['abc', 1, 2, 3.14, 'B', 'o', 'o', 'k']

In [118]:
bookT = ["Book"]

In [119]:
l1 + bookT

['abc', 1, 2, 3.14, 'Book']

In [120]:
l1*2

['abc', 1, 2, 3.14, 'abc', 1, 2, 3.14]

In [121]:
len(l1)

4

In [122]:
3.14 in l1

True

In [123]:
"abc" in l1

True