In [2]:
notes = 5
i = 1
j = 1
while i < notes:
    print(i)
    i += 1
else:
    while j <  2:
        print(j)
        j = j + 1
    print("Loop end")

1
2
3
4
1
Loop end

In [10]:
s = "my name is paritosh"

In [11]:
s

'my name is paritosh'

In [21]:
s[3:10] # Start Index - 3 , End Index - 10 , Data at End Index is excluded

'name is'

In [22]:
s[3:10:2] # Third parameter is step

'nm s'

In [23]:
s[10:3:1] # Jump or Step size is positive , hence data is not in reverse

''

In [25]:
s[10:2:-1] # Jump or Step size is negative , hence we got the data in reverse

' si eman'

In [26]:
s[::-1]

'hsotirap si eman ym'

In [27]:
s[2:-6]

' name is pa'

In [29]:
s[-1] # Last data has -1 as index , Second last has -2 index and so on....

'h'

In [30]:
s

'my name is paritosh'

In [32]:
for i in s:
    if (i == 's'):
        print("I got s as a string")
    print(i)

m
y

n
a
m
e

i
I got s as a string
s

p
a
r
i
t
o
I got s as a string
s
h

In [35]:
for i in s:
    print(i)
else:
    print("This is else condtn")

m
y

n
a
m
e

i
s

p
a
r
i
t
o
s
h
This is else condtn

In [36]:
for i in s:
    if i == "n":
        break # Break the execution of the loop
    print(i)
else:
    print("This is else condtn")

m
y

In [37]:
for i in s:
    if i == "n":
        continue # Continue takes the execution of the loop to next iteration
    print(i)
else:
    print("This is else condtn")

m
y

a
m
e

i
s

p
a
r
i
t
o
s
h
This is else condtn

In [7]:
for i in range(0,100,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [8]:
l = list()

In [9]:
l

[]

In [27]:
l = [1, 'hello', 3.14, [3,5], True, 5+6j]

In [28]:
l

[1, 'hello', 3.14, [3, 5], True, (5+6j)]

In [29]:
l[2]

3.14

In [30]:
type(l[2])

float

In [31]:
l1 = []

In [32]:
type(l1)

list

In [33]:
l2 = list()

In [34]:
type(l2)

list

In [35]:
l[3][1]

5

In [36]:
for i in l :
    print(i)
    print(type(i))

1
<class 'int'>
hello
<class 'str'>
3.14
<class 'float'>
[3, 5]
<class 'list'>
True
<class 'bool'>
(5+6j)
<class 'complex'>

In [38]:
l[0:4]

[1, 'hello', 3.14, [3, 5]]

In [40]:
l[4:2:-1]

[True, [3, 5]]

In [44]:
l3 = list(range(10))

In [45]:
l3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
len(l3)

10