In [8]:
# this is my first prgrm
print("this is my first python progrm")

this is my first python progrm

In [9]:
print "this is my first python program"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("this is my first python program")? (<ipython-input-9-011175920fe0>, line 1)

In [11]:
# my name is paritosh
"""jshfbjbsf
kssjfnjksnf
sbfjhbsfj
"""

'jshfbjbsf\nkssjfnjksnf\nsbfjhbsfj\n'

In [13]:
"""print('djjsdbgs')
print('jsvfhsvf')
print('SHFVHSFFS')"""
print("Hello World")

Hello World

In [14]:
a = 10

In [15]:
a

10

In [16]:
type(a)

int

In [17]:
b = "paritosh"

In [18]:
b

'paritosh'

In [19]:
type(b)

str

In [22]:
print(b, a)

paritosh 10

In [27]:
a , b, s = 45 , "paritosh", "this is my name"

In [28]:
print(a , b)

45 paritosh

In [29]:
s

'this is my name'

In [30]:
a, b, s

(45, 'paritosh', 'this is my name')

In [31]:
# String variables can be declared either by using single or double quotes

In [35]:
name = "paritosh"
username = "p1"
password = "p123"
mail="abc@gmail.com"

In [36]:
a = 1.6

In [37]:
type(a)

float

In [42]:
b = True
c = False
type(b)

bool

In [44]:
type(c)

bool

In [45]:
a = True + True + True + False + True

b = False - True + True

In [46]:
a

4

In [47]:
b

0

In [48]:
True * True

1

In [49]:
True / False

ZeroDivisionError: division by zero

In [55]:
n = 45 + 6j
m = 56+8j

In [56]:
type(n)

complex

In [57]:
n.real

45.0

In [58]:
n.imag

6.0

In [59]:
n*m

(2472+696j)

In [61]:
1 + "paritosh"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [62]:
str(1) + "paritosh"

'1paritosh'

In [63]:
1 + 1.0

2.0

In [64]:
"paritosh" + "paritosh" + "paritosh"

'paritoshparitoshparitosh'

In [65]:
"paritosh" * 3

'paritoshparitoshparitosh'

In [72]:
a = input("Enter a Integer")

Enter a Integerabc

In [73]:
a

'abc'

In [74]:
type(a)

str

In [75]:
a = input("Enter integer a") 
b = input("Enter integer b") 
c = input("Enter integer c")

Enter integer a5
Enter integer b6
Enter integer c7

In [77]:
o = (int(a) + int(b))/int(c)

In [79]:
o1 = (o + 1j)

In [81]:
print(str(o1) + "paritosh")

(1.5714285714285714+1j)paritosh

In [86]:
# Get 3 integers from user
a = int(input("Enter integer a ")) 
b = int(input("Enter integer b ")) 
c = int(input("Enter integer c "))
# o = (a + b)/c
o = (a + b)/c
# o1 = o + complex variable of ur choice
o1 = (o + 1j)
# print o1 + ur name
print(str(o1) + "paritosh")

Enter integer a 3
Enter integer b 3
Enter integer c 2
(3+1j)paritosh

In [90]:
a = int(input("Enter a number less than 34 --"))
if a < 34:
    print("data is less than 34 and I am fine with it")
elif a < 100:
    print("data is lesser than 100")
else:
    print("User input is not lesser than 34")

Enter a number less than 34 --78
data is lesser than 100

In [96]:
salary = int(input("Enter your salary "))
if (salary > 1000):
    print("I will buy a car")
    if(salary < 5000):
        print("I will go for a car nano")
        if True:
            print("false code")
    elif(salary < 10000):
        print("I will go for a car maruti")
    elif(salary < 50000):
        print("I will go for a car toyota")
    else:
        print("I will rent a car")
elif (salary > 500):
    print("I will go for a bike")
elif (salary > 100):
    print("I will not buy anything")
else:
    print("I will go for a saving")

Enter your salary 4999
I will buy a car
I will go for a car nano
false code

In [1]:
a = 10
b = 20

In [4]:
if a == 10 and b > 20:
    print("This is a valid statement")
elif a == 10 and b <= 20:
    print("This is valid inside the elif")
else:
    print("condition is not valid")

This is valid inside the elif

In [21]:
initial_speed = 0
final_speed = 100
count = 1
while initial_speed < final_speed:
    print("this is my speed")
    initial_speed = initial_speed + 1
    print("initial_speed",initial_speed)
    count = count + 1
    if count == 10:
        break

this is my speed
initial_speed 1
this is my speed
initial_speed 2
this is my speed
initial_speed 3
this is my speed
initial_speed 4
this is my speed
initial_speed 5
this is my speed
initial_speed 6
this is my speed
initial_speed 7
this is my speed
initial_speed 8
this is my speed
initial_speed 9