In [2]:
t = ()

In [3]:
type(t)

tuple

In [4]:
l = []

In [5]:
type(l)

list

In [8]:
t1 = (2.34 , "abc", True , 2)

In [9]:
t1

(2.34, 'abc', True, 2)

In [10]:
t1[0]

2.34

In [12]:
t1[0:2]

(2.34, 'abc')

In [13]:
t1[::-1]

(2, True, 'abc', 2.34)

In [14]:
l1 = ['a' , 1, 3.14, False]

In [15]:
l1[1] = 2

In [16]:
l1

['a', 2, 3.14, False]

In [17]:
t1[1] = 2

TypeError: 'tuple' object does not support item assignment

#### Tuples are immutable

In [19]:
t2 = (234, 567 ,789)

In [20]:
t1 = t1 + t2

In [21]:
t1

(2.34, 'abc', True, 2, 234, 567, 789)

In [22]:
t1 * 4

(2.34,
 'abc',
 True,
 2,
 234,
 567,
 789,
 2.34,
 'abc',
 True,
 2,
 234,
 567,
 789,
 2.34,
 'abc',
 True,
 2,
 234,
 567,
 789,
 2.34,
 'abc',
 True,
 2,
 234,
 567,
 789)

In [23]:
t1

(2.34, 'abc', True, 2, 234, 567, 789)

In [24]:
234 in t1

True

In [25]:
'def' in t1

False

In [26]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'float'

In [27]:
t3 = (10 , 40 , 60 , 20)

In [28]:
max(t3)

60

In [42]:
min(t3)

10

In [36]:
t4 = ('def' , 34, 'efg' , 'abc', 34 , 34 , 34)

In [37]:
max(t4)

TypeError: '>' not supported between instances of 'int' and 'str'

In [38]:
t4.count('def')

1

In [39]:
t4.index('xyz')

ValueError: tuple.index(x): x not in tuple

In [35]:
t4.index('abc')

2

In [40]:
t4.count(34)

4

In [41]:
t4.index(34)

1

In [43]:
l4 = list(t4)
l4.insert(3, 56)
t5 = tuple(l4)

In [44]:
t5

('def', 34, 'efg', 56, 'abc', 34, 34, 34)

In [49]:
t6 = ((3,2,6,4), (78,85,90,84),51,62,74,[23,21,25,26])

In [50]:
t6

((3, 2, 6, 4), (78, 85, 90, 84), 51, 62, 74, [23, 21, 25, 26])

In [55]:
t6[5][1:3]

[21, 25]

In [56]:
for i in t6 :
    print(i)

(3, 2, 6, 4)
(78, 85, 90, 84)
51
62
74
[23, 21, 25, 26]

In [57]:
for i in t6 :
    if type(i) == tuple:
        print(i[0])

3
78

In [58]:
if len(t5) == len(t6):
    print("Length is same")
else:
    print("Length is not same")

Length is not same

In [61]:
l1

['a', 2, 3.14, False]

In [62]:
del(l1[2])

In [63]:
l1

['a', 2, False]

In [64]:
del(t5[2])

TypeError: 'tuple' object doesn't support item deletion

In [65]:
x = set()

In [66]:
x

set()

In [67]:
type(x)

set

In [98]:
x1 = [34, 45, 45, 45, 67 , 78, 89, 67 , 78 , 12, 14, 'paritosh', 'Paritosh','dwfw']

In [99]:
x1

[34, 45, 45, 45, 67, 78, 89, 67, 78, 12, 14, 'paritosh', 'Paritosh', 'dwfw']

In [100]:
x1 = set(x1)

In [101]:
x1

{12, 14, 34, 45, 67, 78, 89, 'Paritosh', 'dwfw', 'paritosh'}

In [102]:
type(x1)

set

In [103]:
for i in x1:
    print (i)

Paritosh
34
67
12
45
78
14
paritosh
dwfw
89

In [104]:
x1[0]

TypeError: 'set' object is not subscriptable

Set Will **Not** Return an Ordered/Sorted Data

In [105]:
x1.add(67)

In [106]:
x1

{12, 14, 34, 45, 67, 78, 89, 'Paritosh', 'dwfw', 'paritosh'}

In [107]:
x1.add([34,56,67])

TypeError: unhashable type: 'list'

In [108]:
x1.remove('paritosh')

In [109]:
x1

{12, 14, 34, 45, 67, 78, 89, 'Paritosh', 'dwfw'}

In [110]:
'paritosh' in x1

False

In [111]:
x1.clear()

In [112]:
x1

set()

In [113]:
x1 = set([1,2,55346,6645,1,2,3,4,3,4])

In [114]:
x1

{1, 2, 3, 4, 6645, 55346}

In [115]:
x2 = set([1,2,1,2,3,4,3,4])

In [116]:
x2

{1, 2, 3, 4}

In [117]:
x1.difference(x2)

{6645, 55346}

In [118]:
x1+x2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [119]:
x1*4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [120]:
list(x1)

[1, 2, 3, 4, 55346, 6645]

In [121]:
tuple(x1)

(1, 2, 3, 4, 55346, 6645)

In [122]:
set(t5)

{34, 56, 'abc', 'def', 'efg'}

In [123]:
x1[0]

TypeError: 'set' object is not subscriptable

In [124]:
d = {}

In [125]:
type(d)

dict

In [126]:
x3 = {34,45}

In [127]:
type(x3)

set

In [129]:
d1 = {"name":'paritosh',"age":'24',}

In [130]:
d1

{'name': 'paritosh', 'age': '24'}

In [131]:
type(d1)

dict

In [147]:
d2 = {"name":'paritosh',"age":'24',"name" : "def" , True:{324,446,2324}, "key":False, 2424:33254, "_name":"paritosh", "jhfbd":['jsb','f'],"dict1":{"a":1,"b":2}}

In [148]:
d2

{'name': 'def',
 'age': '24',
 True: {324, 446, 2324},
 'key': False,
 2424: 33254,
 '_name': 'paritosh',
 'jhfbd': ['jsb', 'f'],
 'dict1': {'a': 1, 'b': 2}}

#### Key will be unique in a dictionary

In [149]:
x3 = {[2,3]:[3,4,5]}

TypeError: unhashable type: 'list'

In [150]:
x4 = {(2,3):[3,4,5]}

In [151]:
x4

{(2, 3): [3, 4, 5]}

In [152]:
x5 = {{2,3}:[3,4,5]}

TypeError: unhashable type: 'set'

In [154]:
d2["name"]

'def'

In [155]:
d2["age"]

'24'

In [162]:
d2["jhfbd"][1]

'f'

In [163]:
x4 = {"k4":'sgdvsghf'}

In [164]:
x5 = {"k5":'sdnjgsgdvsghf'}

In [165]:
x4+x5

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [166]:
x4*4

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [167]:
x4["k4"] = "asia"

In [168]:
x4

{'k4': 'asia'}

In [169]:
x4["k4"] = 456

In [170]:
x4

{'k4': 456}

In [171]:
x4["k4"] = x4["k4"] - 10

In [172]:
x4

{'k4': 446}

In [173]:
x4["k4"] -= 10

In [174]:
x4

{'k4': 436}

In [175]:
x4.keys()

dict_keys(['k4'])

In [177]:
'k4' in  x4.keys()

True

In [180]:
for i in x4:
    print(i)
# Only keys are returned

k4

In [181]:
for i in x4.keys():
    print(x4[i])
# Value is returned

436

In [184]:
for i in d2.keys():
    print(d2[i])

def
24
{324, 2324, 446}
False
33254
paritosh
['jsb', 'f']
{'a': 1, 'b': 2}

In [186]:
x4.items()

dict_items([('k4', 436)])

In [190]:
for i in d2.items():
    print(i[0])
    print(i[1])

name
def
age
24
True
{324, 2324, 446}
key
False
2424
33254
_name
paritosh
jhfbd
['jsb', 'f']
dict1
{'a': 1, 'b': 2}

In [191]:
x5 = {(34,45,56):"hvfhdsvfs"}

In [192]:
x5

{(34, 45, 56): 'hvfhdsvfs'}

In [193]:
x5[(34, 45, 56)]

'hvfhdsvfs'

In [194]:
d2

{'name': 'def',
 'age': '24',
 True: {324, 446, 2324},
 'key': False,
 2424: 33254,
 '_name': 'paritosh',
 'jhfbd': ['jsb', 'f'],
 'dict1': {'a': 1, 'b': 2}}

In [195]:
len(d2)

8

In [231]:
paragraph = input()
list_of_paragraph = list(paragraph.split(" "))
print(list_of_paragraph)
set_of_paragraphs = set(list_of_paragraph)
print(set_of_paragraphs)
dict_of_paragraphs = {}
for i in set_of_paragraphs:
    dict_of_paragraphs[i] = "paritosh"
print(dict_of_paragraphs)
t1 = tuple(dict_of_paragraphs.values())
print(t1)
t2 = tuple(dict_of_paragraphs.keys())
print(t2)

Python is an interpreted, high-level and general-purpose programming language. Python's design philosophy emphasizes code readability with its notable use of significant indentation. Its language constructs and object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects.
['Python', 'is', 'an', 'interpreted,', 'high-level', 'and', 'general-purpose', 'programming', 'language.', "Python's", 'design', 'philosophy', 'emphasizes', 'code', 'readability', 'with', 'its', 'notable', 'use', 'of', 'significant', 'indentation.', 'Its', 'language', 'constructs', 'and', 'object-oriented', 'approach', 'aim', 'to', 'help', 'programmers', 'write', 'clear,', 'logical', 'code', 'for', 'small', 'and', 'large-scale', 'projects.']
{'emphasizes', 'constructs', 'readability', 'to', 'programmers', 'for', 'general-purpose', 'indentation.', 'aim', 'logical', 'projects.', "Python's", 'object-oriented', 'interpreted,', 'language', 'with', 'Python', 'approach', 'an', 'high-level', 'philosophy', 'is', 'write', 'Its', 'clear,', 'and', 'small', 'design', 'help', 'its', 'of', 'use', 'notable', 'code', 'significant', 'large-scale', 'programming', 'language.'}
{'emphasizes': 'paritosh', 'constructs': 'paritosh', 'readability': 'paritosh', 'to': 'paritosh', 'programmers': 'paritosh', 'for': 'paritosh', 'general-purpose': 'paritosh', 'indentation.': 'paritosh', 'aim': 'paritosh', 'logical': 'paritosh', 'projects.': 'paritosh', "Python's": 'paritosh', 'object-oriented': 'paritosh', 'interpreted,': 'paritosh', 'language': 'paritosh', 'with': 'paritosh', 'Python': 'paritosh', 'approach': 'paritosh', 'an': 'paritosh', 'high-level': 'paritosh', 'philosophy': 'paritosh', 'is': 'paritosh', 'write': 'paritosh', 'Its': 'paritosh', 'clear,': 'paritosh', 'and': 'paritosh', 'small': 'paritosh', 'design': 'paritosh', 'help': 'paritosh', 'its': 'paritosh', 'of': 'paritosh', 'use': 'paritosh', 'notable': 'paritosh', 'code': 'paritosh', 'significant': 'paritosh', 'large-scale': 'paritosh', 'programming': 'paritosh', 'language.': 'paritosh'}
('paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh', 'paritosh')
('emphasizes', 'constructs', 'readability', 'to', 'programmers', 'for', 'general-purpose', 'indentation.', 'aim', 'logical', 'projects.', "Python's", 'object-oriented', 'interpreted,', 'language', 'with', 'Python', 'approach', 'an', 'high-level', 'philosophy', 'is', 'write', 'Its', 'clear,', 'and', 'small', 'design', 'help', 'its', 'of', 'use', 'notable', 'code', 'significant', 'large-scale', 'programming', 'language.')

In [233]:
d6 = {"company":"abc","course":"fsds","year":2021}

In [237]:
for i in d6:
    print("print key ", i ,"value",d6[i])

print key  company value abc
print key  course value fsds
print key  year value 2021

In [241]:
for i in d6:
    if i == "year": 
        if d6[i] > 2021:
            print("Okay")
        else:
            d6[i] = 2022

In [242]:
d6

{'company': 'abc', 'course': 'fsds', 'year': 2022}

In [243]:
my_dict = {}
for i in range(10):
    my_dict[i] = i * i

In [244]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [245]:
{i :i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}